<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<p>
  <%= flash[:error_message] %>
</p>

<%= form_tag login_path do %>

  <%= label_tag :email_address %>
  <%= email_field_tag :email_address %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%=  submit_tag "Log in" %>

<% end %>

<p>New user? <%= link_to "Sign up now!", new_user_path %></p>


</div>
</div>
