<!-- Profile section -->

<div class="container2">

  <div class="profile">

    <div class="profile-image">

      <%= cl_image_tag @user.avatar, :class => "profile-image" unless @user.avatar.nil? %>

    </div>

    <div class="profile-user-settings">

      <h1 class="profile-user-name"><%= @user.username %></h1>

      <%= button_to "Edit profile", edit_user_path(@user), :method => 'get', :class=>"btn profile-edit-btn" %>

    </div>

    <div class="profile-stats">

      <ul>
        <li><span class="profile-stat-count"><%= @user.posts.count %></span> posts</li>
        <li><span class="profile-stat-count"><%= @user.followers.count %></span> followers</li>
        <li><span class="profile-stat-count"><%= @user.following.count %></span> following</li>
      </ul>


    <div class="profile-bio">

      <p><span class="profile-real-name">Email: </span><%= @user.email_address %></p>

      <p><span class="profile-real-name"><%= @user.first_name %> <%= @user.last_name %> </span> <%= @user.user_bio %></p>

      <!--Follow button -->
      <%= render 'shared/follow_form' if @current_user.present? %>

    </div>

  </div>
  <!-- End of profile section -->

</div>
<!-- End of container -->


<!-- Current user's posts -->
  <div class="container">
    <div class="row">
      <% @user.posts.each do |post| %>
      <div class="col-sm-4 cell" style= "background-image: url(<%= cl_image_path post.img_link unless post.img_link.nil? %>)">
<div class="listtileul">
      <ul>
        <li class="listtile"><%= link_to post.show_name %></li>
        <li class="listtile"><%= link_to post.episode_name, post %></li>
      </ul>
      </div>
        <%= link_to "", post %>
      </div>
      <% end %>
    </div>
  </div>

<!-- Edit user -->
<div class = "controls">
  <%= link_to "Edit user", edit_user_path(@user) %>
  <%= button_to "Delete user", @post, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
</div>
