<!-- User's details -->
<h1>Username: <%= @user.username %></h1>

    <ul>
      <li>First Name: <%= @user.first_name %></li>
      <li>Last Name: <%= @user.last_name %></li>
      <li>User Bio: <%= @user.user_bio %></li>
      <li>Email Address: <%= @user.email_address %></li>
    </ul>

<!-- Current user's posts -->
<p>List of posts</p>

<% @user.posts.each do |post| %>

<%= image_tag post.img_link, :class =>'thumb' if post.img_link.present? %>
<ul>
  <li>Post owner: <%= link_to post.user_id %></li>
  <li>Episode name: <%= link_to post.episode_name, post %></li>
  <li>Show name: <%= post.show_name %></li>
  <li>Episode Description: <%= post.episode_description %></li>
  <li>Link: <%= post.pod_link %></li>
</ul>
  <% end %>

<!-- Edit user -->
<div class = "controls">
  <%= link_to "Edit user", edit_user_path(@user) %>
  <%= button_to "Delete user", @post, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
</div>

<!-- <div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <img src="">
      </div>
    </div>

    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username">fbutcher</h2>
        <a class="edit-profile">
          <button>Edit Profile</button>
        </a>
      </div>
      <ul class="posts">
        <li><span>12</span> posts</li>
        <li><span>195</span> followers</li>
        <li><span>345</span> following</li>
      </ul> -->
