<h1>All Posts</h1>
<p>List of posts</p>

<% @posts.each do |post| %>

<%= image_tag post.img_link, :class =>'thumb' if post.img_link.present? %>

<ul>
  <li>Post owner: <%= link_to post.user_id %></li>
  <li>Episode name: <%= link_to post.episode_name, post %></li>
  <li>Show name: <%= post.show_name %></li>
  <li>Episode Description: <%= post.episode_description %></li>
  <li>Link: <%= post.pod_link %></li>

</ul>
<% end %>
