
<div class="card">

  <% if @post.user.present? %>
    <li><%= link_to @post.user.username, @post.user %></li>
  <% end %>

  <%= cl_image_tag @post.img_link, :class =>'feature' if @post.img_link.present? %>
  <div class="container">
    
    <p><span class="profile-real-name">Show:  </span><%= @post.show_name %></p>
    <p><span class="profile-real-name">Episode:  </span><%= @post.episode_name %></p>
    <p><span class="profile-real-name">Description:  </span><%= @post.episode_description %></p>

  </div>
</div>

  <div class="spotify">
     <a href="<%= @post.pod_link %>" target="_blank">
       <figure class="image platform-badge" style="text-align: center;">
         <img src="https://gimletmedia.com/images/platform_badges/spotify.svg" title="Spotify">
       </figure>
     </a>
   </div>

<div class = "controls">
  <%= link_to "Edit post", edit_post_path(@post) %>
  <%= button_to "Delete post", @post, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
</div>
