<h1><%= @post.episode_name %></h1>

<h2><%= @post.show_name %></h2>

<%= image_tag @post.img_link, :class =>'feature' if @post.img_link.present? %>

    <ul>
      <li>Episode Name: <%= @post.episode_name %></li>
      <li>Show Name: <%= @post.show_name %></li>
      <li>Episode Description: <%= @post.episode_description %></li>
      <li>Podcast Link: <%= @post.pod_link %></li>
    </ul>

<div class = "controls">
  <%= link_to "Edit post", edit_post_path(@post) %>
  <%= button_to "Delete post", @post, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
</div>
