<!DOCTYPE html>
<html>

<head>
    <title>Podsta</title>
    <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

          <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <!-- NAV BAR -->
    <nav class='navbar navbar-light bg-light d-flex'>
        <div class="container">
            <div class="logo">
                <a class="navbar-brand" href="/">
                    <%= fa_stacked_icon "camera inverse", base: "circle"%>
                        Podsta
                </a>
            </div>

            <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>

            <!-- <div class="m-auto">
                <form class="form-inline search-form">
                    <input class="form-control mr-sm-2" type="search" placeholder="@search" aria-label="Search">
                </form>
            </div> -->
            <!-- <div class='user-section'>
                <a class='fa fa-compass'>Sign in</a>
                <a class='fa fa-heart'></a>
                <a class='fa fa-user'></a>
            </div> -->

            <div class='user-section'>
              <ul>

                <% if @current_user.present? %>

                <!-- User profile -->
                <li><%= link_to(user_path(@current_user)) do %>
                  <a class="fa fa-user" aria-hidden="true"></a>
                  <% end %></li>

                <!-- Sign out -->
                <li><%= link_to("Sign Out", login_path, :method => :delete) %>
                  </li>

                <!-- Edit user profile -->
                <li><%= link_to "Edit Profile", edit_user_path %></li>

                <% else %>

                <!-- Sign up -->
                <li><%= link_to(new_user_path) do %>
                  <i class="fa fa-user-plus" aria-hidden="true"></i>
                </li>
                <% end %>

                <!-- Sign in -->
                <li><%= link_to(login_path) do %>
                  <i class="fa fa-sign-in" aria-hidden="true"></i>
                  <% end %>
                </li>

                <% end %>

              </ul>
            </div>

        </div>
    </nav>

    <!-- LINKAGE FROM DATABASE SETUP -->
  <nav>
    <%= link_to "Home", root_path %>
    <%= link_to "All Users", users_path %>
    <%= link_to "All Posts", posts_path %>
    <%= link_to "New Post", new_post_path %>
  </nav>





    <!-- MAIN CONTENT -->
    <main class="container" style="min-height: 500px;">
        <%= yield %>
    </main>

    <!-- FOOTER -->
    <footer class="container footer">
        <nav class="navbar d-flex">
            <p>© 2019 Podsta</p>
        </nav>
    </footer>
</body>

</html>
